*{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    max-width: 100%;
    height: 4rem;
    background-image: linear-gradient(to right top, #44C8FA , #3142A1);
}
.left-header{
    margin-left: 5rem;
    height: 2.5rem;
    color: white;
    align-items: center;
}
.left-header > span{
    padding-left: 1rem;
    position: absolute;
    top:1.5rem;
}
#logo-img{
    height: 2.5rem;
    width: 2.5rem;
}
.right-header{
    display: flex;    
    height: 2.5rem;
    width: 25rem;
    padding-left: 0;
    color: white;
}
.right-header > li{
    width:5rem;
    display: flex;
    align-items: center;
    height: 2.5rem;
    text-decoration: none;
    list-style-type: none;
}
.cart{
    margin-left: 0rem;
    text-decoration: solid;
}
#hero-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 10%;
    gap: 3rem;
    margin-top: 2rem;
    margin-right: 10%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 16.66%;
    height: 35%;
    padding: 0.3rem;
    border: 1px solid black;
}
.card >img{
    width: 100%;
    min-height: 55%;
}