#shimmer-container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
}
.shimmer-card{
    height: 30vh;
    width: 30vh;
    background-color: darkgray;
    overflow: hidden;
    margin: 1rem;
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}
.shimmer-image{
    width: 100%;
    height: 40%;
    margin-bottom: 0.5rem;
    color: darkgrey;
}
.shimmer-title{
    width: 40%;
    height: 3rem;
    margin-bottom: 0.5rem;
    color: darkgrey;
}
.shimmer-text1{
    width: 70%;
    height: 1.5rem;
    margin-bottom: 0.15rem;
    color: darkgrey;
}
